
        <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-light" id="barra">
        <div class="container-fluid ">
            <a class="navbar-brand " href="/"><img src="/img/IKEA-Logo-1.png " alt=" " width="150px "></a>
            <button class="navbar-toggler " type="button " data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false " aria-label="Toggle navigation ">
                <span class="navbar-toggler-icon "></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="textNavBar">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
                            <li><a class="dropdown-item" href="adornosDeNavidad-Es" id="dropdownAdornosDeNavidad">Adornos de navidad</a></li>
                            <li><a class="dropdown-item" href="lucesNavidad-Es">Luces de navidad</a></li>
                            <li><a class="dropdown-item" href="comidaNavidad-Es">Comida navideña</a></li>
                            <li><a class="dropdown-item" href="mantelesNavidad-Es">Manteles y textiles de navidad</a></li>
                            <li><a class="dropdown-item" href="arbolesNavidad-Es">Árboles, macetas y plantas de navidad</a></li>
                            <li><a class="dropdown-item" href="reposteriaNavidad-Es">Repostería de navidad y moldes para galleta</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="Producto">Administración</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Servicios
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
                            <li><a class="dropdown-item" href="/links/menuEs" >Menu</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Tiendas
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
                            <li><a class="dropdown-item" href="/links/tiendas/indexFixAsturias">IKEA Asturias | Asturias</a></li>
                            <li><a class="dropdown-item" href="/links/tiendas/indexFixMadrid">IKEA Goya | Madrid</a></li>
                            <li><a class="dropdown-item" href="/links/tiendas/indexFixMurcia">IKEA Murcia | Murcia</a></li>
                            <li><a class="dropdown-item" href="/links/tiendas/indexFixAndalucia">IKEA Jerez | Andalucía</a></li>
                            <li><a class="dropdown-item" href="/links/tiendas/indexFixCataluna">IKEA Sabadell | Cataluña</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/links/tiendas/indexFixVirginia">IKEA Norfolk | Virginia</a></li>
                            <li><a class="dropdown-item" href="/links/tiendas/indexFixCalifornia">IKEA San Diego | California</a></li>
                            <li><a class="dropdown-item" href="/links/tiendas/indexFixFlorida">IKEA Miami | Florida</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/links/tiendas/indexFixCiudadMexico">IKEA Centro Comercial MallPlaza | Ciudad de México</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="/img/banderas/españa.jpg" id="tamañoBanderas">
                    </li>
                </ul>
                <div class="me-5 mt-1">
                    <a href="/links/carrito"><button class="botonImagen"></button></a>
                </div>
                <form class="d-flex ">
                    <input class="form-control me-2" type="search" placeholder="Buscar... " aria-label="Search">
                    <button id="buscarBoton" class="btn btn-outline-success " type="submit ">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <!--Contenido-->
    <div class="container-fluid" id="fondoSubcategoria">
         <div class="container" id="tablaFondo">
        {{!-- PRIMERA FILA --}}
        <div class="row" id="rowSubcategoria1">
            <div class="col"> 
                <h2>Árboles de Navidad y plantas</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="card" style="width: 17rem;" id="cardProducto">
                    <a href="/links/productoPlantilla/16" id="textDecoration">
                        <!--<img src="/img/producto2.png" class="card-img-top" alt="...">-->
                        <!--Carousel-->
                            <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/img/producto16a.png" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/producto16b.png" class="d-block w-100">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        <!--Carousel-->
                        <div class="card-body">
                            <h5 class="card-title">Planta, 3 bulbo, jacinto colores variados 12cm</h5>
                            <p class="card-text">N/A</p>
                            <p id="precioProductos">2,50€</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {{!-- SEGUNDA FILA --}}
        <div class="row mt-4" id="rowSubcategoria1">
            <div class="col"> 
                <h2>Macetas navideñas, jarrones y floreros</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                   <div class="card" style="width: 17rem;" id="cardProducto">
                    <a href="/links/productoPlantilla/17" id="textDecoration">
                        <!--<img src="/img/producto2.png" class="card-img-top" alt="...">-->
                        <!--Carousel-->
                            <div id="carouselExampleControls3" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/img/producto17a.png" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/producto17b.png" class="d-block w-100">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        <!--Carousel-->
                        <div class="card-body">
                            <h5 class="card-title">Macetero, vidrio/corcho</h5>
                            <p class="card-text">N/A</p>
                            <p id="precioProductos">9,00€</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>