 <!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-light" id="barra">
        <div class="container-fluid ">
            <a class="navbar-brand " href="/"><img src="/img/IKEA-Logo-1.png " alt=" " width="150px "></a>
            <button class="navbar-toggler " type="button " data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false " aria-label="Toggle navigation ">
                <span class="navbar-toggler-icon "></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="textNavBar">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
                            <li><a class="dropdown-item" href="adornosDeNavidad-Us" id="dropdownAdornosDeNavidad">Adornos de navidad</a></li>
                            <li><a class="dropdown-item" href="lucesNavidad-Us">Luces de navidad</a></li>
                            <li><a class="dropdown-item" href="comidaNavidad-Us">Comida navideña</a></li>
                            <li><a class="dropdown-item" href="mantelesNavidad-Us">Manteles y textiles de navidad</a></li>
                            <li><a class="dropdown-item" href="arbolesNavidad-Us">Árboles, macetas y plantas de navidad</a></li>
                            <li><a class="dropdown-item" href="reposteriaNavidad-Us">Repostería de navidad y moldes para galleta</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="Producto">Administración</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Servicios
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
                            <li><a class="dropdown-item" href="/links/menuEs" >Menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="/img/banderas/usa.png" id="tamañoBanderas">
                    </li>
                </ul>
                <div class="me-5 mt-1">
                    <a href="/links/carrito"><button class="botonImagen"></button></a>
                </div>
            </div>
        </div>
    </nav>
<!--Contenido-->
    <div class="container-fluid" id="fondoSubcategoria">
         <div class="container" id="tablaFondo">
        {{!-- PRIMERA FILA --}}
        <div class="row" id="rowSubcategoria1">
            <div class="col"> 
                <h2>Cena de navidad</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                    <div class="card" style="width: 17rem;" id="cardProducto">
                        <a href="/links/productoPlantilla/10" id="textDecoration">
                        {{!-- <img src="/img/producto1.png" class="card-img-top"> --}}
                        <!--Carousel-->
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/img/producto10a.png" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/producto10b.png" class="d-block w-100">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        <!--Carousel-->
                        <div class="card-body">
                            <h5 class="card-title">Salchichas pequeñas congeladas</h5>
                            <p class="card-text">N/A</p>
                            <p id="precioProductos">10,00€</p>
                        </div>
                        </a> 
                    </div>
            </div>
        </div>
    </div>    



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>