#barra {
    background-color: #0057a4;
}

#buscarBoton {
    background-color: green;
    color: rgb(201, 201, 201);
}

#buscarBoton:hover {
    color: white;
}

#textNavBar a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

#textNavBar a:hover {
    color: rgb(194, 194, 194);
}

#separador {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#separador .content {
    width: 150%;
    height: 50px;
    margin-left: -25px;
    background-color: #0057a4;
}

#ribbon {
    background-image: url("/img/wood.jpeg");
}

#ribbon::after {
    content: '';
    background-color: transparent;
    display: block;
    height: 50px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}

.card {
    margin: auto;
}