#barra {
    background-color: #0057a4;
}

#buscarBoton {
    background-color: green;
    color: rgb(201, 201, 201);
}

#buscarBoton:hover {
    color: white;
}

#textNavBar a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

#textNavBar a:hover {
    color: rgb(194, 194, 194);
}

#separador {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#separador .content {
    width: 150%;
    height: 50px;
    margin-left: -25px;
    background-color: #0057a4;
}

#ribbon {
    background-image: url("/img/tabla2.png");
}

.card {
    margin: auto;
}

#dropdown-menu {
    font-size: 10px;
    background-color: #0057a4;
    padding-right: 20px;
    border: 2px solid #003e74;
    text-align: center;
}

#dropdown-menu a:hover {
    color: black;
}

#dropdown-divider {
    color: white;
    width: 200px;
    height: 2px;
}

#dropdown-productos:hover,
#dropdown-usuarios:hover,
#dropdown-tercero:hover {
    background-color: rgb(255, 255, 255);
}

#dropdownAdornosDeNavidad:focus {
    background: white;
}

#fondoContainer {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-image: url("/img/tabla2.png");
    background-size: 100%;
}

#col1 {
    background-color: #0057a4;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#col2 {
    background-color: #E8E8E8;
    padding-right: 300px;
}

#col3 {
    background-color: #E8E8E8;
    width: 88px;
}

#col4 {
    background-color: #E8E8E8;
    width: 85px;
}

#col5 {
    background-color: #E8E8E8;
    width: 108px;
}

#col6 {
    background-color: #E8E8E8;
    width: 110px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#divPrecioProducto {
    padding-right: 200px;
}

#divIdCategoriaProducto {
    padding-right: 150px;
}

#caracteristicasProducto {
    padding-bottom: 113px;
}

#intruccionesProducto {
    padding-bottom: 112px;
}

#buscarBoton1 {
    background-color: rgb(1, 156, 1);
    border-color: rgb(0, 88, 0);
}

#buscarBoton1:focus {
    box-shadow: 0 0 0 0.25rem rgba(58, 184, 0, 0.5);
}

#buscarBoton1:hover {
    background-color: rgb(0, 139, 0);
}

#divBuscarBoton {
    margin-top: 20px;
    margin-left: 225px;
}

#textCaracteristicas,
#textIntrucciones {
    resize: none;
    height: 113px;
}

#textIdProducto,
#textPrecio,
#textIdCategoria {
    resize: none;
    height: 0;
}

#textNombre {
    resize: none;
    height: 100px;
}

#tablaFondo {
    background: #0057a4;
    border-style: none;
    border-width: 4px;
    border-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
}

#fondoSubcategoria {
    background: url(/img/tabla2.png);
    padding-top: 30px;
    padding-bottom: 30px;
}

#rowSubcategoria1 {
    color: white;
    margin-left: 10px;
    padding-bottom: 20px;
    text-decoration-line: underline;
}

#precioProductos {
    text-size-adjust: 100px;
    margin-top: -10px;
    font-size: 40px;
    font-style: italic;
}

#textDecoration {
    color: black;
    text-decoration-line: none;
}

#cardProducto1:hover,
#cardProducto2:hover {
    box-shadow: 0px 0px 10px white;
    animation: crecer .7s alternate infinite ease-in-out;
}


/*Animaciones*/

@keyframes crecer {
    0% {
        transform: scale(100%, 100%);
    }
    100% {
        transform: scale(101.5%, 101.5%);
    }
}