 <div class="col pt-2" id="col1Factura">
    <form id="form1" class="row g-3 pb-3 needs-validation" novalidate  action = "/links/Registro" method="GET">
        <h2 style="font-weight: bold; color:white;">Datos de facturación</h2>
        <div class="col-md-2 input-group mt-3">
            <input type="text" class="form-control" id="cedulaPlantilla" placeholder="Cédula" style="max-width: 250px;" required>
            <button class="btn btn-success">Buscar</button>
            <div class="invalid-feedback" style="font-weight: bold; border-color: white;">
                Debe colocar una cédula!
            </div>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Primer Nombre" required name = "primer_nombre">
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Segundo Nombre (Opcional)" name = "segundo_nombre">
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Primer Apellido" required name = "primer_apellido">
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Segundo Apellido" required name = "segundo_apellido">
        </div>
        <div class="col-12">
            <select class="form-select" id="validationCustom04" required name = "direccion">
                <option selected disabled value="">Dirección</option>
                <option value = "10">Asturias</option>
                <option value = "11">Goya</option>
                <option value = "13">Jerez</option>
                <option value = "14">Sabadell</option>
                <option value = "15">Murcia</option>
                <option value = "20">San Diego</option>
                <option value = "21">Miami</option>
                <option value = "22">Norfolk</option>
                <option value = "30">Ciudad De Mexico</option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Código" required name ="Codigo" data-bs-toggle="tooltip" data-bs-placement="top" title="Código telefónico del pais (+X/+XX)">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Codigo Area" required name ="codigoArea" data-bs-toggle="tooltip" data-bs-placement="top" title="Código de Area (XXX)">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Telefono" required name ="telefono" data-bs-toggle="tooltip" data-bs-placement="top" title="Número telefonico">
        </div>
        <div class="col-md-3">
            <input type="date" class="form-control" placeholder="fecha" required name = "fecha">
        </div>
        <div class="col-md-1" id="colBotonAfiliado">
                <button class="btn btn-warning" type="submit" disabled>Afiliarse</button>
            </div>
    </form>
</div>
