
    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-light" id="barra">
        <div class="container-fluid ">
            <a class="navbar-brand " href="#"><img src="/img/IKEA-Logo-1.png " alt=" " width="150px "></a>
            <button class="navbar-toggler " type="button " data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false " aria-label="Toggle navigation ">
                <span class="navbar-toggler-icon "></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="textNavBar">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
                            <li><a class="dropdown-item" href="links/adornosDeNavidad" id="dropdownAdornosDeNavidad">Adornos de navidad</a></li>
                            <li><a class="dropdown-item" href="links/lucesNavidad">Luces de navidad</a></li>
                            <li><a class="dropdown-item" href="links/comidaNavidad">Comida navideña</a></li>
                            <li><a class="dropdown-item" href="links/mantelesNavidad">Manteles y textiles de navidad</a></li>
                            <li><a class="dropdown-item" href="links/arbolesNavidad">Árboles, macetas y plantas de navidad</a></li>
                            <li><a class="dropdown-item" href="links/reposteriaNavidad">Repostería de navidad y moldes para galleta</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="links/Producto">Algo random aqui</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="# ">Servicios</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
                <form class="d-flex ">
                    <input class="form-control me-2" type="search" placeholder="Buscar... " aria-label="Search">
                    <button id="buscarBoton" class="btn btn-outline-success " type="submit ">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <!--Contenido Carrousel-->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/carousel1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/carousel2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/carousel3.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <!--Separador-->
    <div id="separador">
        <div class="content"></div>
    </div>
    <!--pene rico]-->
    <!--Ribbon cards-->
    <div id="ribbon" class="container-fluid">
        <div class="container">
            <div class="row" id="rowcards">
                <div class="card mt-2 mb-2" style="width: 18rem;">
                    <img src="/img/card1.png" class="card-img-top mt-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Muebles perrones</h5>
                        <p class="card-text">Comprar muebles perrones increiblemente comodos.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card mt-2" style="width: 18rem;">
                    <img src="/img/card2.png" class="card-img-top mt-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Muebles perrones</h5>
                        <p class="card-text">Comprar muebles perrones increiblemente comodos.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card mt-2" style="width: 18rem;">
                    <img src="/img/card3.png" class="card-img-top mt-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Muebles perrones</h5>
                        <p class="card-text">Comprar muebles perrones increiblemente comodos.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fooder-->
    <div>
        <div id="separador2">
            <div class="content"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>